.divCard {
  padding: 12px;
  margin: 25px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(219, 216, 223, 0.808);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.buttonOnClose {
  cursor: pointer;
}

.divImg {
  position: relative;
  text-align: center;
  bottom: 69px;
}

.name {
  background-color: rgba(19, 18, 18, 0.493);
  position: absolute;
  bottom: -45px;
  padding: 3px;
  font-family: "Cinzel", serif;
  color: white;
  font-size: 18px;
  font-weight: 100;
  max-width: 13vw;
}
.cardProps {
  font-family: "Cinzel", serif;
  display: flex;
  font-size: 15px;
}
.divProps {
  display: flex;
  justify-content: space-evenly;
  font-size: 9px;
  max-width: 16vw;
}
.buttonFavorite {
  cursor: pointer;
}
.divButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.img {
  height: 250px;
  width: 250px;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 12px;
}
