.navBar {
  background-color: rgba(219, 216, 223, 0.808);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.links {
  text-decoration: none;
  padding-right: 35px;
  color: black;
}
.divLinks {
  display: flex;
}
.logo {
  display: flex;
  height: 50px;
  width: 150px;
  object-fit: fill;
  margin-right: 80px;
}
