.cntnFilters {
  display: flex;
  justify-content: space-between;
  width: 47%;
  margin-bottom: 10px;
  padding: 0.5px;
  color: rgb(8, 8, 8);
}
.select {
  border-radius: 5px;
  font-size: 16px;
}
.cntnGen {
  display: flex;
  justify-content: center;
}
.label {
  padding: 5px;
}
