.cntnDetail {
  background-color: red;
}
.divDetail {
  margin: 10px;
  width: 400px;
  border: 2px solid black;
  border-radius: 10px;
  background-color: rgba(228, 203, 174, 0.897);
}
.divImg {
  position: relative;
  display: inline-block;
  text-align: center;
}
.name {
  background-color: rgba(19, 18, 18, 0.493);
  position: absolute;
  top: 1px;
  left: 10px;
  padding: 5px;
  font-family: "Cinzel", serif;
  color: white;
  font-size: 20px;
  font-weight: 400;
  padding-top: 3px;
  padding-bottom: 3px;
}
.divProps {
  display: flex;
  justify-content: space-evenly;
  font-size: 11px;
}
.cardProps {
  font-family: "Cinzel", serif;
  display: flex;
}
